<?xml version="1.0" encoding="utf-8"?>
<config>
	<mode>online</mode>
	<offline>
		<maintenance>false</maintenance>
		<reporting>true</reporting>
		<host>localhost</host>
		<user>root</user>
		<pass></pass>
		<bdd>a-n</bdd>
		<erreur>true</erreur>
		<cache>c:/wamp/www/alsace_navette/cache/</cache>
		<fichier>c:/wamp/www/alsace_navette/tpl/</fichier>
		<portail>http://192.168.1.11/alsace_navette/</portail>
		<baseurl>aeroport/</baseurl>
		<cle>c:\wamp\www\alsace_navette\aeroport\\reservation\paypal\cle.pem</cle>
		<cert>c:\wamp\www\alsace_navette\aeroport\\reservation\paypal\public.pem</cert>
		<paypal>c:\wamp\www\alsace_navette\aeroport\\reservation\paypal\paypal_cert_pem.txt</paypal>
		<openssl>c:\wamp\bin\apache\Apache2.2.11\bin\openssl.exe</openssl>
        <cert_id>YSTYBQD7MT5MG</cert_id>
        <paypal_own>gestion@alsace-navette.com</paypal_own>
		<google>ABQIAAAAObHy-ugaduiqc4CBjS4sEBT7B7WaQDccmhMwOQeUBolQL9GphxRHS0EgdrO5SUhdy8qwajF3v1eYiA</google>
		<ip></ip>
		<m_mail>mail</m_mail>
		<active_paypal>true</active_paypal>
        <active_ca>true</active_ca>
		<ca_identifiant>507452528</ca_identifiant>
        <ca_rang>01</ca_rang>
        <ca_site>0772662</ca_site>
	</offline>
	<online>
		<maintenance>false</maintenance>
		<reporting>false</reporting>
		<host>db922.1and1.fr</host>
		<user>dbo206617947</user>
		<pass>D5ZEtV4h</pass>
		<bdd>db206617947</bdd>
		<erreur>false</erreur>
		<cache>/homepages/3/d205267944/htdocs/cache/</cache>
		<fichier>/homepages/3/d205267944/htdocs/tpl/</fichier>
		<portail>http://alsace-navette.com/</portail>
		<baseurl>europapark/</baseurl>
		<cle>/homepages/3/d205267944/htdocs/aeroport/reservation/paypal/cle.pem</cle>
		<cert>/homepages/3/d205267944/htdocs/aeroport/reservation/paypal/public.pem</cert>
		<paypal>/homepages/3/d205267944/htdocs/aeroport/reservation/paypal/paypal_cert_pem.txt</paypal>
		<openssl>/usr/bin/openssl</openssl>
        <cert_id>YSTYBQD7MT5MG</cert_id>
        <paypal_own>gestion@alsace-navette.com</paypal_own>
		<google>AIzaSyB7P6dmOYSXqZq9IWZUnr5NGyqXJTvBM5w</google>
		<ip>91.165.246.166</ip>
		<m_mail>mail</m_mail>
		<active_paypal>true</active_paypal>
        <active_ca>true</active_ca>
		<ca_identifiant>507452528</ca_identifiant>
        <ca_rang>01</ca_rang>
        <ca_site>0772662</ca_site>
	</online>
</config>