<?xml version="1.0" encoding="utf-8"?>
<config>
	<mode>online</mode>
	<online>
		<maintenance>false</maintenance>
		<reporting>true</reporting>
		<host>localhost</host>
		<user>root</user>
		<pass></pass>
		<bdd>db206617947</bdd>
		<erreur>true</erreur>
		<cache>c:/wamp64/www/cache/</cache>
		<fichier>c:/wamp64/www/tpl</fichier>
		<portail>http://localhost/</portail>
		<baseurl>aeroport/</baseurl>
		<cle>c:\wamp64\www\aeroport\reservation\paypal\cle.pem</cle>
		<cert>c:\wamp64\www\aeroport\reservation\paypal\public.pem</cert>
		<paypal>c:\wamp64\www\aeroport\reservation\paypal\paypal_cert_pem.txt</paypal>
		<openssl>c:\wamp64\bin\apache\Apache2.4.39\bin\openssl.exe</openssl>
        <cert_id>YSTYBQD7MT5MG</cert_id>
        <paypal_own>gestion@alsace-navette.com</paypal_own>
		<google>ABQIAAAAObHy-ugaduiqc4CBjS4sEBT7B7WaQDccmhMwOQeUBolQL9GphxRHS0EgdrO5SUhdy8qwajF3v1eYiA</google>
		<ip></ip>
		<m_mail>mail</m_mail>
		<active_paypal>true</active_paypal>
        <active_ca>true</active_ca>
		<ca_identifiant>507452528</ca_identifiant>
        <ca_rang>01</ca_rang>
        <ca_site>0772662</ca_site>
	</online>
	<offline>
		<maintenance>false</maintenance>
		<reporting>false</reporting>
		<host>db922.1and1.fr</host>
		<user>dbo206617947</user>
		<pass>D5ZEtV4h</pass>
		<bdd>db206617947</bdd>
		<erreur>true</erreur>
		<cache>/homepages/3/d205267944/htdocs/Alsace-Navette05-2015/cache/</cache>
		<fichier>/homepages/3/d205267944/htdocs/Alsace-Navette05-2015/tpl/</fichier>
		<portail>http://alsace-navette.com/Alsace-Navette05-2015/</portail>
		<baseurl>aeroport/</baseurl>
		<cle>/homepages/3/d205267944/htdocs/aeroport/reservation/paypal/cle.pem</cle>
		<cert>/homepages/3/d205267944/htdocs/aeroport/reservation/paypal/public.pem</cert>
		<paypal>/homepages/3/d205267944/htdocs/aeroport/reservation/paypal/paypal_cert_pem.txt</paypal>
		<openssl>/usr/bin/openssl</openssl>
        <cert_id>YSTYBQD7MT5MG</cert_id>
        <paypal_own>gestion@alsace-navette.com</paypal_own>
		<google>AIzaSyB7P6dmOYSXqZq9IWZUnr5NGyqXJTvBM5w</google>
		<ip></ip>
		<m_mail>mail</m_mail>
		<active_paypal>true</active_paypal>
        <active_ca>true</active_ca>
		<ca_identifiant>507452528</ca_identifiant>
        <ca_rang>01</ca_rang>
        <ca_site>0772662</ca_site>
	</offline>
</config>
